$fg: oklch(14.5% 0 0); /* neutral 950 */
$blue: oklch(42.4% 0.199 265.638); /* blue 800 */
$light-blue: oklch(62.3% 0.214 259.815); /* blue 500 */
$purple: oklch(43.8% 0.218 303.724); /* purple 800 */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  color: $fg;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 3em 1em;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 42em;
    margin: 3em auto;
  }
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: 600;
}

p {
  margin: 1em 0;
}

a {
  color: $blue;
}

a:hover {
  color: $light-blue;
}

a:visited {
  color: $purple;
}

h1.title {
  margin: 0;
}

p.date {
  margin: 0 0 1em;
}

li {
  list-style-type: disc;
  list-style-position: inside;
}

.navbar {
  margin: 0 0 1em;
}

.navbar a {
  font-weight: 600;
  text-decoration: none;
  margin-right: .5em;
  color: $fg;
}

.navbar a:hover {
  text-decoration: underline;
}

.posts li {
  list-style-type: none;
  margin: 1em 0;
}
