/* light */
$lt-bg: #ffffff;
$lt-head: oklch(27.4% 0.006 286.033); /* zinc 800 */
$lt-body: oklch(44.2% 0.017 285.786); /* zinc 600 */

/* dark */
$drk-bg: oklch(21% 0.006 285.885); /* zinc 900 */
$drk-head: oklch(96.7% 0.001 286.375); /* zinc 100 */
$drk-body: oklch(55.2% 0.016 285.938); /* zinc 500 */

/* accents */
$blue: oklch(70.7% 0.165 254.624); /* blue 400 */
$purple: oklch(71.4% 0.203 305.504); /* purple 400 */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  color: $lt-body;
  background-color: $lt-bg;
  line-height: 1.4;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 3em 1em;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 635px;
    margin: 3em auto;
  }
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: 600;
  color: $lt-head;
}

p {
  margin: 1em 0;
}

a {
  color: $blue;
}

a:visited {
  color: $purple;
}

ul {
  margin:  1em 0;
}

li {
  list-style-type: disc;
  list-style-position: inside;
}

img {
  width: 100%;
}

h1.title {
  margin: 0;
}

p.date {
  margin: 0 0 1em;
  color: $lt-head;
  font-weight: 500;
}

.navbar {
  margin: 0 0 1em;
}

.navbar a {
  font-weight: 600;
  margin-right: .5em;
  color: $lt-head;
  text-decoration: none;
}

.navbar a:hover {
  color: $lt-body;
}

.posts li {
  list-style-type: none;
  margin: 1em 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color: $drk-body;
    background-color: $drk-bg;
  }
  h1, h2, h3 {
    color: $drk-head;
  }
  p.date {
    color: $drk-head;
  }
  .navbar a {
    color: $drk-head;
  }
  .navbar a:hover {
    color: $drk-body;
  }
}
