<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  {% if page.title %}
	  {% set page_title = page.title %}
  {% elif section.title %}
	  {% set page_title = section.title %}
  {% else %}
	  {% set page_title = "Homepage" %}
  {% endif %}
  {% if page.description %}
	  {% set page_description = page.description %}
  {% elif section.description %}
	  {% set page_description = section.description %}
  {% else %}
	  {% set page_description = "" %}
  {% endif %}
  <title>{{page_title}} | alex@computer</title>
  <meta property="description" content="{{ page_description }}">
</head>

<header>
</header>

<body>
  <div class="navbar">
    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/atom.xml">Feed</a>
      </ul>
    </nav>
  </div>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>
</body>

</html>
